.playerForm{
    margin-top: 50px;
    display: block;
    /* margin-right: 480px; */
    font-size: 15px;
}
.playerFormTitle{
    font-size: 30px;
    margin-top: 30px;
    display: block;
    margin-left: 30px;
}
.playerCompare{
    margin-top: 50px;
    margin-right:60px;
}
.compareForm{
    /* margin-left: 50px;
    margin-right:50px */
}
.FormBar{
    margin-bottom: 5px;
    width: 340px;
}
.formButton{
    margin-right:0px;
    margin-left:10px;
    text-align: center;
}

.detailButton{
    margin-top: 10px;
    margin-left:0;
}

.detailPlayerName{
    font-weight: 500;
    font-size:30px;
    margin-top:30px;
    margin-bottom: 30px;
}
.showStatsButton{
    margin-left:10px;
    margin-bottom: 10px;
}
.showStatsDiv{
    margin-top:20px;
}

.PlayerIndex{
    display: inline-flex;
}

.compareGraph{
    height:40px;
    width:30px;
    margin-left:0;
    margin-right:10px;
    
}
.yearStats{
    border: 0;
    padding: 0;
}
.yearStatsRow{
    border-style: solid;
    border-width: 1px;
    padding: 0;
    margin-top:1px;
}
.lineGraph{
    margin-top: 20px;
    margin-left:5px;
}

.needInline{
    display: inline-flex;
    margin-left:0px;
    margin-right:40px;
    margin-top:20px;
    width: 325px;
}
.commonTeammatesForm{
    margin-top: 20px;
    margin-bottom: 20px;
}
.commonTeammatesResult{
    margin-top:10px;
    margin-bottom: 10px;
}

