.teamSearch1{
    margin-top: 20px;
    margin-bottom: 5px;
    width: 500px;
    height: 200px;
}
.teamButton{
    margin-top: 10px;
    margin-right:0px;
    margin-left:10px;
    text-align: center;
}

/* .detailButton{
    margin-top: 10px;
    margin-left:0;
} */